# Ignore all
*

# Unignore all with extensions
!*.*
!.*

# Unignore all dirs
!*/

# Unignore Makefile
!Makefile

# gcc compiled binaries
*.out

# MSVC compiled binaries
*.exe
*.obj

# mac compiled binaries
*.app

# vscode dir
.vscode/

